@if (articles().length > 0) {
  <ul class="flex flex-col gap-6 rounded-lg w-full">
    @for (article of articles(); track article.slug) {
      <li class="w-full">
        <div class="outline outline-gray-800 w-full rounded-lg p-4 flex flex-col gap-2">
          <app-user-info
            [avatar]="article.author.image"
            [username]="article.author.username"
            [createdAt]="article.createdAt"
          ></app-user-info>
          <h2 class="text-xl font-bold">{{ article.title }}</h2>
          <p
            appElipsisText
            [max]="50"
            [elipsisText]="article.description"
            class="text-gray-400 text-sm font-regular"
          ></p>
          <div class="flex justify-between gap-4 mt-4">
            <a
              routerLink="/article/{{ article.slug }}"
              class="text-xs font-regular opacity-60 hover:opacity-100"
            >
              Read more...
            </a>
            <app-article-tags [tagList]="article.tagList"></app-article-tags>
          </div>
        </div>
      </li>
    }
  </ul>

  <app-infinite-scroll
    [noMoreItems]="noMoreItems()"
    [isLoading]="isLoading"
    (nextItems)="loadMore()"
  ></app-infinite-scroll>
}

@if (!isLoading && articles().length === 0 && tag) {
  <p>No se encontraron articulos para el tag seleccionado</p>
} @else if (!isLoading && articles().length === 0) {
  <p>No se encontraron articulos</p>
}
