<app-list-articles #listArticles [tag]="getTag()" class="w-full"></app-list-articles>

@if (listArticles.articles().length) {
  <app-infinite-scroll
    [noMoreItems]="listArticles.noMoreItems()"
    [isLoading]="listArticles.isLoading"
    (nextItems)="listArticles.loadMore()"
  ></app-infinite-scroll>
}

@if (!listArticles.isLoading && listArticles.articles().length === 0 && getTag()) {
  <p>No se encontraron articulos para el tag seleccionado</p>
} @else if (!listArticles.isLoading && listArticles.articles().length === 0) {
  <p>No se encontraron articulos</p>
}
