<div class="bg-black text-white base-layout w-full">
  <header class="flex items-center justify-between w-full border-b border-gray-800 px-47.5 py-4">
    <a
      routerLink="/"
      class="flex items-center gap-2 transition-opacity duration-200 hover:opacity-80"
    >
      <div
        class="w-8 h-8 bg-sky-500 text-white font-black flex items-center justify-center rounded-full"
      >
        B
      </div>
      <p class="text-2xl font-semibold">Bloggy</p>
    </a>
    <nav class="flex gap-4">
      <a
        routerLink="/"
        class="font-medium transition-opacity duration-200 opacity-60 hover:opacity-100"
        [class.opacity-100]="isActive('')"
      >
        Home
      </a>
      <a
        routerLink="/auth/sign-in"
        class="font-medium transition-opacity duration-200 opacity-60 hover:opacity-100"
        [class.opacity-100]="isActive('/auth/sign-in')"
      >
        Sign In
      </a>
      <a
        routerLink="/auth/sign-up"
        class="font-medium transition-opacity duration-200 opacity-60 hover:opacity-100"
        [class.opacity-100]="isActive('/auth/sign-up')"
      >
        Sign Up
      </a>
    </nav>
  </header>

  <main class="flex flex-col">
    <router-outlet></router-outlet>
  </main>

  <footer class="flex flex-wrap justify-evenly w-full border-t border-gray-800 gap-4 px-47.5 py-4">
    <div class="flex flex-col gap-4 max-w-64">
      <div class="flex items-center gap-2">
        <div
          class="w-8 h-8 bg-sky-500 text-white font-black flex items-center justify-center rounded-full"
        >
          B
        </div>
        <p class="flex items-center gap-2 text-2xl font-semibold text-white">Bloggy</p>
      </div>
      <p class="text-sm opacity-60">
        A place to share your knowledge and connect with readers who matter to you.
      </p>
    </div>
    <nav class="max-w-24">
      <ul class="flex flex-col gap-2 text-md w-full">
        <li class="font-semibold text-lg mb-2">Platform</li>
        <li>
          <a routerLink="/" class="transition-opacity duration-200 opacity-60 hover:opacity-100">
            Home
          </a>
        </li>
        <li>
          <a
            routerLink="/auth/sign-in"
            class="transition-opacity duration-200 opacity-60 hover:opacity-100"
          >
            Sign In
          </a>
        </li>
        <li>
          <a
            routerLink="/auth/sign-up"
            class="transition-opacity duration-200 opacity-60 hover:opacity-100"
          >
            Sign Up
          </a>
        </li>
      </ul>
    </nav>
    <nav class="max-w-48">
      <ul class="flex flex-col gap-2 text-md w-full">
        <li class="font-semibold text-lg mb-2">Resources</li>
        <li>
          <a
            routerLink="/docs"
            class="transition-opacity duration-200 opacity-60 hover:opacity-100 cursor-pointer"
            [class.opacity-100]="isActive('/docs')"
          >
            API Documentation
          </a>
        </li>
        <li>
          <a class="transition-opacity duration-200 opacity-60 hover:opacity-100 cursor-pointer">
            Help Center
          </a>
        </li>
        <li>
          <a class="transition-opacity duration-200 opacity-60 hover:opacity-100 cursor-pointer">
            Privacy Policy
          </a>
        </li>
      </ul>
    </nav>
    <div class="max-w-24">
      <p class="font-semibold text-lg mb-4">Connect</p>
      <div class="flex gap-4">
        <a
          href="https://github.com/GountzJs/blog-app"
          target="_blank"
          rel="noopener noreferrer"
          class="opacity-60 hover:opacity-100 cursor-pointer"
        >
          <app-icons name="github"></app-icons>
        </a>
        <a
          href="https://x.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="opacity-60 hover:opacity-100 cursor-pointer"
        >
          <app-icons name="x"></app-icons>
        </a>
        <a
          href="/"
          rel="noopener noreferrer"
          target="_blank"
          class="opacity-60 hover:opacity-100 cursor-pointer"
        >
          <app-icons name="linkedin"></app-icons>
        </a>
      </div>
    </div>
    <div class="bg-gray-800 h-0.5 w-full"></div>
    <div class="flex items-center justify-center w-full">
      <p class="text-xs opacity-60">© 2026 Blog app. All rights reserved.</p>
    </div>
  </footer>
</div>
